html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(121, 107, 81);
}
.van ul {
margin: auto;
width: 50%%;
padding: 20px 0;
align-items: center;
justify-content: space-between ;
display: inline;
display:flex;
}
.van li{
    display: inline;
}
.van a{
    padding: 0.2cm;
    color: rgb(238, 235, 229);
    text-decoration: none;
    display: inline-block;
}

.main-van{
    text-align: center;
    font-size: 1.1cm;
    font-weight: lighter;
    border-bottom: 2px solid rgb(189, 125, 7);
}

.main-van li{
    padding: 0 5%;
    text-align: center;
}

}
.van a:hover{
    background-color: rgb(121, 107, 81);
}

.main-header {
    background-image: url("images/pic1.gif");
    background-color: rgba(0,0,0, .6);
    background-blend-mode: multiply;
    padding-bottom: 30px;
    background-size: cover;
}
.port{
    text-align: center;
    margin: 0;
    font-size: 4cm;
    color: rgb(214, 189, 143);
}
.lala{
    text-align: center;
    color: white;
}
.haha{
  display: block;
  margin:auto;
  clip-path: circle(50% at 50% 50%);
  height: 400px;
  width: 400px;
}
.main-footer{
    padding: 2cm 0;
    background-image: url("images/pic1.gif");
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0,0,0, .6);
}